# build output
dist/
.astro/
.firebase/
firebase-debug.log

# dependencies
node_modules/

# logs
npm-debug.log*

# environment vars
.env
.env.production
.secret.local

# macOS
.DS_Store

# editors
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
